body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.f {
  position: fixed;
  width: 100vw;
}
div.h {
  float: right;
  padding-top: 8px;
}

.h i {
  font-size: 2rem;
}

.b {
  padding-top: 90px;
}

.cName img {
  width: 35px;
  height: 35px;
  margin-right: 15px;
}

.cName span {
  display: inline-block;
  vertical-align: bottom;
  height: 28px;
}

th.hover {
  cursor: pointer !important;
}

table {
  margin-top: 0 !important;
}

.table-header {
  background-color: #2c85d152 !important;
  color: #423d3d !important;
}

footer {
  /* height: 50px; */
  margin-top: 20px;
  padding-top: 20px;
  /* background-color: #c2e5f9; */
}

footer i {
  font-size: 2em !important;
}